
            <div class="container mt-5">

                <form #form="ngForm" (ngSubmit)="sign(form)" autocomplete="off">
     
                 <!-- <div class="row" *ngIf="authError">
                     <div class="col-12 alert alert-danger">{{ authError?.message }}</div>
                   </div>  -->
      
                     <div class="row mt-3">
                         <div class="col-4"></div>
                         <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" name="email" #email="ngModel" ngModel class="form-control" placeholder="Username">
                            </div>
                        </div>
                         <div class="col-4"></div>
                     </div>
                     <div class="row">
                         <div class="col-4"></div>
                         <div class="col-md-4">
                            <div class="form-group">
                                <input type="password" name="password" #password="ngModel" ngModel class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-4"></div>
                     </div>
                     <div class="row mt-2">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button class="btn btn-block btn-info" id="submitBtn" type="submit">Login</button>
                            </div>
                        </div>
                        <div class="col-4"></div>
                     </div>
                     <div class="row mt-2"> 
                        <div class="col-4"></div>
                           <div class="col-4"> <h4 align="center">OR</h4></div>
                        <div class="col-4"></div>
                     </div>
                     <div class="row mt-2">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button class="btn btn-block btn-primary" (click)="authService.googleAuth()" type="submit"> Google </button>
                            </div>
                        </div>
                        <div class="col-4"></div>
                     </div>
                     <div class="row mb-2">
                         <div class="col-4"></div>
                         <div class="col-md-4">
                             <div class="form-group">
                                 New user ? <a routerLink="/create-account" class="create-account"> Create Account </a>
                             </div>
                         </div>
                         <div class="col-4"></div>
                     </div>
                </form>
         </div>
 